@import url("input.css");

:root {
  font-family: Roboto, sans-serif;
  color: var(--nord4);
}

html {
  background-color: var(--nord-c0);
  font-size: medium;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

hr {
  border: 0;
  border-top: 1px solid var(--nord1);
}
