@import url("input.css");

:root {
  font-family: Roboto, sans-serif;
  color: var(--nord4);
}

html {
  background-color: var(--nord-c0);

  /* 13px */
  font-size: 0.8125em;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

hr {
  border: 0;
  border-top: 1px solid var(--nord1);
}

a {
  color: var(--nord7);
  text-decoration: none;
  border-radius: 0.25em;
  transition: background-color 0.2s ease-in-out 0s;
  padding: 0.1em 0.25em;
}

a:hover,
a:active,
a:focus {
  background-color: var(--nord3);
}
